@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); /* font-family: "Bebas Neue", sans-serif; */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-font: Aeonik Regular, Arial, Helvetica, sans-serif;
  /* --main-font: "Bebas Neue", sans-serif; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
    --main-bg: #dac1b1;
    --sub-bg: #a58570;
    --text-color: #3d0a05;
    --text-color-secondary: #ac746c;
    --asset-color: #7f1f0e;
  }
}

@font-face {
  font-family: "Aeonik Regular";
  src: url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.eot");
  src: url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/8f2a9d487bbbc60974cd132fc3a63862.svg#Aeonik Regular")
      format("svg");
}
@font-face {
  font-family: "Wiraile";
  src: url("/fonts/wiraile.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: var(--main-font);
  color: rgb(32, 30, 26);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

@layer utilities {
  .scrollable {
    overflow-y: scroll !important;
  }

  .scrollable::-webkit-scrollbar {
    width: 0.5vw;
    height: 10vh;
    display: none;
  }

  .scrollable::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollable::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 20px;
    border: 3px solid #333;
  }

  /* ✅ FIXED: Class must come before pseudo-element */
  .priBlue.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(18, 106, 135, 1) !important;
    color: rgba(18, 106, 135, 1);
  }

  .trans::-webkit-scrollbar {
    display: none;
    width: 0.5vw;
    height: 10vh;
  }

  .trans::-webkit-scrollbar-track {
    background: transparent;
  }

  .trans.scrollable::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid transparent;
  }

  .trans::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 20px;
    border: 3px solid transparent;
  }
}
